<div class="ui grid">
	<div class="twelve wide stretched column">
		<div class="ui items" *ngFor='let project of projects'>
			<div class="item">
				<div class="ui small rounded image">
					<img class="ui small  image" src="{{project.cover}}" />
				</div>
				<div class="content">
					<a class="header" href="{{project.path}}"><i
						class="grid cube icon"></i>{{project.name}}</a>
					<div class="meta">
						<span><i class="grid wait icon"></i>Date: {{project.date}}</span>
						<span> <i class="grid cubes icon"></i>Category: <span
							*ngFor='let category of project.categories'>{{category}} /</span>
						</span>
					</div>
					<div class="description">
						<p>{{project.description}}</p>
					</div>
					<div class="extra">
						<div class="ui label">
							<i class="grid book icon"></i>{{project.version}}
						</div>
						<div class="ui label">
							<i class="grid user outline icon"></i>{{project.author}}
						</div>
						<div class="ui right floated primary button">
							Go to project <i class=" right send outline icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="ui divider"></div>
		</div>

		<!-- no item -->
		<div class="item" [hidden]="projects.length != 0">
			<p>
				No project found with that name! <b>{{filter.value}}</b>
			</p>
		</div>

		<!-- deactivated
			<div class="ui pagination menu">
				<a class="active item"> 1 </a> <a class="item"> 2 </a> <a
					class="item"> 3 </a> <a class="item"> 4 </a>
				<div class="disabled item">...</div>
				<a class="item"> 10 </a> <a class="item"> 11s </a>
			</div>
			 -->
	</div>
	<div class="four wide stretched column">
		<div class="ui secondary vertical menu">
			<div class="item">
				<div class="ui icon input">
					<input type="text" #filter (keyup)="filterBy(filter.value)"
						placeholder="Search..."> <i class="search icon"></i>
				</div>
			</div>
			<!-- i put it on main menu, still here for example XD
					<a class="item"> <i class="grid layout icon"></i> Projects
					</a> <a class="item"> <i class="grid layout icon"></i> What is it?
					</a> <a class="item"> <i class="grid layout icon"></i> About us
					</a>
				 -->
			<div class="item">
				Sort By
				<div class="menu">
					<a [ngClass]="{'item':true, 'active':order=='asc'}"
						(click)="orderBy('asc')"><i
						class="grid sort alphabet ascending icon"></i>A-Z</a> <a
						[ngClass]="{'item':true, 'active':order=='desc'}"
						(click)="orderBy('desc')"><i
						class="grid sort alphabet descending icon"></i>Z-A</a>
					<!-- i need to write it RIP
							<a class="item">Oldest</a>
							<a class="item">Newest</a>
						-->
				</div>
			</div>
		</div>
	</div>
</div>
