<div class="ui modal">
	<div class="header">Hi there, sorry for ...</div>
	<div class="image content">
		<img class="image">
		<div class="description">
			<p>It isn't working! sorry</p>
			<p>I am working on it and so soon it will work.</p>
			<p>Why? I don't have idea but i will put it to work!</p>
		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
	</div>
</div>

<div class="ui main container">
	<h1 class="ui icon header brown inverted">
		<i class="settings icon"></i>Working on it
	</h1>

	<div class="ui menu">
		<a [ngClass]="{'item':true, 'active':whereAmI() === '/projects'}"
			[routerLink]="['/projects']"> <i class="grid heartbeat icon"></i>
			Projects
		</a> <a [ngClass]="{'item':true, 'active':whereAmI() === '/whatisit'}"
			[routerLink]="['/whatisit']"> <i class="grid bug icon"></i> What
			is it?
		</a> <a [ngClass]="{'item':true, 'active':whereAmI() === '/aboutus'}"
			[routerLink]="['/aboutus']"> <i class="grid handshake icon"></i>
			About us
		</a>
		<div class="right menu">
			<div class="item">
				<div class="ui primary button" (click)="show()">Sign up</div>
			</div>
			<div class="item">
				<div class="ui button" (click)="show()">Log-in</div>
			</div>
		</div>
	</div>

	<router-outlet></router-outlet>

	<div id="ui header">
		<small>by </small>Kenny Code
	</div>
</div>