

<div class="ui icon message">
	<i class="trash outline icon"></i>
	<div class="content">
		<div class="header">What is it?</div>
		<p>I don't have any idea!!!!!! But let's code it :D</p>
	</div>
</div>
<div class="ui icon message">
	<i class="space shuttle icon"></i>
	<div class="content">
		<div class="header">What am i using frontEnd?</div>
		<p>Angular 2</p>
	</div>
</div>
<div class="ui icon message">
	<i class="eyedropper icon"></i>
	<div class="content">
		<div class="header">What am I using to style?</div>
		<p>Semantic-ui</p>
	</div>
</div>
<div class="ui icon message">
	<i class="database icon"></i>
	<div class="content">
		<div class="header">Is it using database?</div>
		<p>No, I am not using database yet!</p>
	</div>
</div>
